div{
    
}


html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fdc7c7;
   
}


.imagem{
    width: 200px;
}

main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
  
}

.card{
    width:268px;
    height:474px;
    background-color: #ffffff;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%; 
    height: 100%;
    border: 2px solid;
    color: #000000	;    
}


.img-card{
    width: 268px;
    height: 168px;
    margin-top: 50px;
}


.descricao{
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    padding: 10px 5px ;
    margin-bottom: 50px;

}


.preco{
    font-size: 25px;
    font-family: Arial;
    color: rgb(102, 166, 240);
    font-weight: bold;
    padding: 10px 5px;
}


.pagamento{
    color: coral;
    font-family: Arial;
    padding: 10px 5px;
    font-size: 14px;
}


.botao-card{
    background-color: #ff6500;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    height: 35px;
    font-size: 15px;
    text-align: center;
}


.botao-comprar{
    padding: 10px 5px;
}


.menu{
    background-color: #E0FFFF	;
    color: black;
    border: 1px solid;
    display: flex;

}


.item-menu{
    list-style: none;
    padding: 10px 20px;
    font-family: Arial;
    font-size: 15px;
}

.item-menu:hover{
    background-color: rgb(197, 197, 197);
    border: 2px solid;
    color: #6495ED;
}


.Link-menu{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}