div{
    
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(255, 200, 180);

}
.card{
   width:268px;
    height:474px;
    background-color: #ffffff;
    
}
.img-card{
    width: 268px;
    height: 168px;
    margin-top: 50px;
}

.descricao{
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    padding: 10px 5px ;
    margin-bottom: 50px;

}
.preco{
    font-size: 25px;
    font-family: Arial;
    color: rgb(102, 166, 240);
    font-weight: bold;
    padding: 10px 5px;
}
.pagamento{
    color: coral;
    font-family: Arial;
    padding: 10px 5px;
    font-size: 14px;
}

.botao-card{
    background-color: #ff6500;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    height: 35px;
    font-size: 15px;
    text-align: center;
}

.botao-comprar{
    padding: 10px 5px;
}