body, html{
    margin: 0;
    padding: 0;
    background-color: #6e6e6e ;
    height: 100%;
}


.container{
    width: 80%;
    background-color: #ffffff;
    margin: 0 auto;
    height: 100%;   
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 250px auto 100px;
    grid-template-areas: "header header"
                          "main aside"
                          "footer footer";
}

header{
    background-color: #ff4400;
    grid-area: header;
}

main{
    background-color: rgb(0, 255, 255);
    grid-area: main;
}

aside{
    background-color: rgb(132, 0, 255);
    grid-area: aside;
}

footer{
    background-color: rgb(128, 255, 0);
    grid-area: footer;
}